#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* Card container */
.card {
  padding: 2em;
}

/* Animal Image */
.animal_image {
  height: 100px;
  width: auto;
  align-self: center;
}

/* Image container for dex */
.image_container {
  display: flex;
  flex-direction: column;
  flex: 1 0 21%;
  margin-bottom: 5px;
}

/* Container for dex listings */
.dex_container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

/* Link hover effect */
.dex_name_link:hover {
  color: #ffcb05;
}

/* Button hover effect */
button:hover {
  color: white;
}

/* Dropdown menu text color */
.css-1nmdiq5-menu {
  color: black;
}

/* Label styling */
label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.2em;
  font-weight: bold;
}

/* Centered content for general layout */
.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
  min-height: 100vh;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .centered-content h1 {
    font-size: 4em; /* Adjust for tablets */
  }

  .centered-content h2 {
    font-size: 1.5em; /* Adjust for tablets */
  }

  .centered-content li {
    font-size: 1.5em; /* Adjust for tablets */
  }

  .centered-content {
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .centered-content h1 {
    font-size: 3em; /* Adjust for mobile screens */
  }

  .centered-content h2 {
    font-size: 1.5em; /* Adjust for mobile screens */
  }

  .centered-content li {
    font-size: 1.2em; /* Adjust for mobile screens */
  }

  .centered-content {
    padding-bottom: 10px;
  }
}

.css-1nmdiq5-menu {
  color: black;
}
